{% load static %}
<style>
    body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #5757d982;
  color: black;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
<div class="about-section">
  <h1>About Us Page</h1>
  <p>About US
    

Arth Infosoft Pvt. Ltd. has Indian established IT growing company, aims to serve with affordable Graphic, Web and Software solutions. Arth specializes in particular, but not limited to graphic, website designing, web application and web portal development. Moreover, we are also ready to offer your business or services to a wider audience through our strong SEO (Search Engine Optimization) campaigns. Our online reputation is founded on the ability to deliver web services in Word press, Magento, PHP, Drupal, Joomla and much more with custom solutions based on client’s requirement. We make every effort the long run clientele and hence 24X7 supports are not only our strategy but our business value.

Arth comprises of a qualified and experienced team of creative web designers, developers and software programmers. The company abides by systematic and timely execution of all the small to the large range of web assignments.

We have created numerous artistically challenging projects and our diverse creative website design portfolios speaks for itself and even see our customized software product eduWare or eduExam which are excellently suitable for educational organizations. Some of the successful assignments are described below:

Custom WordPress Theme Design and Development: We provide WordPress Theme Design and Development which is also sold over theme forest.
Mobile Website Design & Development: We are on the cutting edge of advancements in terms of emerging technology and provide a full range of present day services including mobile website design and development.
Corporate Identity Package: Our clientele also includes graphic designing solutions like corporate identity package for the startups. Our unique and artistry graphic designs ensure your business stands strong/tall in the market.</p>

</div>