{% comment %} {% extends 'base.html' %} {% endcomment %}
{% load static %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Software Errors Tracking Management</title>
  <link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css copy/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />
    
  
</head>
{% comment %} {% block content %} {% endcomment %}
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <br>
    <br>
     <center><h1> MANAGER SPLASHBOARD </h1></center>
      <nav class="navbar col-lg-0 col-0 p-4 fixed-top d-flex flex-row">
         
       <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center"> 
        <a class="navbar-brand brand-logo mr-1" href="">
            <img src="{% static 'images/devla.png'%}" class="mr-5" alt="logo">
              
            </div> 
    </nav>
    <!-- partial -->
    <br>
    <br>
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      
      <div id="right-sidebar" class="settings-panel">
      
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0"> 
            </div>
            <div class="list-wrapper px-3">
              
            </div>
            
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                
              </div>
            
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
               
              </div>
              
            </div>
          </div>
          <!-- To do section tab ends -->
          <!-- chat tab ends -->
        </div>
      </div>
      
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
          <li class="nav-item">
            <a class="nav-link"href="{% url 'managerpage' %}">
              <i class="icon-grid menu-icon"></i>
           <strong><span class="menu-title">HOME</span></strong>
            </a>
          </li>
          <br>
           <li class="nav-item">
            <a class="nav-link"href="{% url 'registration' %}">
              <i class="icon-grid menu-icon"></i>
           <strong><span class="menu-title">REGISTRATION</span></strong>
            </a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contactus' %}">
              <i class="icon-grid menu-icon"></i>
            <strong><span class="menu-title">CONTACT US</span></strong>
            </a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutus' %}">
              <i class="icon-grid menu-icon"></i>
             <strong><span class="menu-title">ABOUT US</span></strong>
            </a>
          </li>
          <br>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">
              <i class="icon-grid menu-icon"></i>
              <strong><span class="menu-title">LOG OUT</span></strong>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <style>
    #toaster {
      position: fixed;
      bottom: 10px;
      right: 10px;
      background-color: #333;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      display: none;
    }
  </style>
  <body>
    <script>
      function showToaster(message) {
        var toaster = document.getElementById("toaster");
        toaster.innerHTML = message;
        toaster.style.display = "block";
        setTimeout(function () {
          toaster.style.display = "none";
        }, 1800); // hide after 5 seconds
      }
    </script>
    <div id ="toaster"></div>
      <div class="main-panel">
        <h2 class="card-header">PROJECTS</h2>
        <div class="content-wrapper">
          <div class="col-12 grid-margin stretch-card">
          <div class="card">
      <h1 class="card-header">
      <a class="btn btn-primary" href="{% url 'create_project' %}">ADD NEW PROJECT</a>  
      </h1>
       <script type="text/javascript">
        function myFunction() {
          var input = document.getElementById("myInput").value;
          console.log(input);
          $.ajax({
            type: "GET",
            url: "/user/managerpage/"
            data:{
              'input':input
            }
          
          });
          
        }
  
      </script>
      <script type="text/javascript">
        function DeleteData(id) {
          if (confirm("Are you sure you want to delete?")) {
            $.ajax({
              type: "GET",
              url: "/project/delete_project/" + id,
              success: function (data) {
                console.log(data);

                //alert("Deleted successfully");
                showToaster("Deleted successfully");
                setTimeout(() => {
                  location.reload();
                }, 1000);
              },
              error: function (data) {
              showToaster("Deleted successfully");
                setTimeout(() => {
                  location.reload();
                }, 1000);
              },
            });
          }
        }
      </script>

       <script>
                  var config = {
                    type: 'bar',
                    data: {
                      datasets: [{
                        data: {{ data|safe }},
                        backgroundColor: [
                          '#0047AB	', '#D22B2B', '#0047AB	', '#D22B2B', '#0047AB	', '#D22B2B'
                        ],
                        label: 'Projects & Estimated Hours'
                      }],
                      labels: {{ labels|safe }}
                    },
                    options: {
                       maintainAspectRatio: false,
                      responsive: true,
                     
                    }
                  };
              
                  window.onload = function() {
                    var ctx = document.getElementById('pie-chart').getContext('2d');
                    window.myPie = new Chart(ctx, config);
                  };
              
        </script>
     
      <div class="table-responsive text-nowrap">
        <table class="table">
          <thead>
            <tr>
              <th>PROJECT</th>
              <th>DESCRIPTION</th>
              <th>TECHNOLOGY</th>
              <th>STATUS</th>
              <th>ACTIONS</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0">
            {% for project in projects %}
            <tr>
              <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i>
                <strong>{{project.title}}</strong>
              </td>
              <td>{{project.description}}</td>
              <td>{{project.technology}}</td>
              <td>{{project.status}}</span></td>
              <td>
                <div class="dropdown">
                    
                  <a class="dropdown-item" href="{% url 'update_project' project.id %}"> 
                    <button id="edit" class="icon-button" type="submit"
                      class="button__icon">
		                	<ion-icon name="create-outline"></ion-icon>
		                  EDIT
                  </button>   
                 </a> 
                    <a class="dropdown-item"> 
                    <button id="edit" class="icon-button" onclick = "DeleteData({{project.id}})"
                    class="button__icon">
		                	<ion-icon name="trash-outline"></ion-icon>
                    DELETE</button> 
                  <a class="dropdown-item" href="{% url 'project_team_list' %}">
                    <button id="edit" class="icon-button" type="submit"
                    class="button__icon">
                      <ion-icon name="add-circle-outline"></ion-icon>
                    ADD TEAM MEMBER</button>
                    <i class="menu-arrow"></i>
                   <a class="dropdown-item" href="{% url 'detail_project' project.id %}">
                    <button id="edit" class="icon-button" type="submit"
                     class="button__icon">
                      <ion-icon name="book-outline"></ion-icon>            
                     DETAIL </button>
                </div>
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
      
    </div>
    <br><br><br>
        <div height="200" width="200">
            <canvas id="pie-chart" width=100px" height="500px"></canvas>
    </div>
  </div>   